body{
    width: 100%;
    height: 100%;
    margin:0;
    padding: 0;
    font-size: 12px;
    font-family: "微软雅黑","黑体";
    background: url("../img/ui_bg.jpg");
    background-size:cover;
}

.title{
    margin-top: 50px;
    width: 100%;
    height: 30px;
    line-height: 30px;
}
.title .title_name{
    display: block;
    font-weight:bolder;
    width: 150px;
    height: 30px;
    line-height: 30px;
    margin: 0 auto;
    font-size: 20px;
    text-shadow: 0 0 3px #000;
    color: #4899fe;
    text-indent: 1px;
    text-align: center;
}
.title .btn{
    display: block;
    font-weight:bolder;
    height: 30px;
    line-height: 30px;
    margin: 80px auto 0 auto;
    font-size: 13px;
    text-indent: 1px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    transition:.25s linear;
}
.title .btn_enable{
    width: 80px;
    background: #4899fe;
    border:1px solid #4082d0;
    text-shadow: 0 0 5px #000;
    box-shadow: 0 0 3px #0f57ad;
    color: #fff;
}
.title .btn_enable:hover{
    background: #1c5091;
    width: 100px;
    color: #c3dcf9;
    box-shadow: 0 0 4px #094184;
    border:1px solid #094184;
}
.title .btn_disable{
    background: #cfd0d0;
    width: 200px;
    letter-spacing: 2px;
    box-shadow: 0 0 4px #e3e4e4;
    text-shadow: 0 0 5px #fff;
    color: #7c7c7d;
    border:1px solid #e3e4e4;
}
.title .btn_disable:hover{
    box-shadow: 0 0 4px #bcbebe;
    text-shadow: 0 0 5px #cbcece;
    color: #4c4d4e;
    border:1px solid #cbcece;
}
.center_container{
    position: absolute;
    top: 100px;
    width:500px;
    height: 550px;
    display: inline-block;
    opacity: 0.5;
    left: 50%;
    padding: 10px 30px;
    margin-left: -280px;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px #000;
    background: #fff;
}
.center{
    position: absolute;
    top: 100px;
    width:500px;
    height: auto;
    left: 50%;
    margin-left: -280px;
    padding: 10px 30px;
    overflow: hidden;
}
.center_body{
    width: 200%;
}
.center p{
    padding: 0;
    margin: 0;
}
.center .sign{
    width: 5px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    box-shadow: 0 1px 6px #fff;
    background: #1656a7;
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#1c5091,endcolorstr=#1874e6, gradientType=0 );
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#1c5091,endcolorstr=#1874e6, gradientType=0 );
    background: -o-linear-gradient(top, #1c5091 0%, #1874e6 95%);
    background: -moz-linear-gradient(top, #1c5091, #1874e6 95%);
    background: -webkit-gradient(linear, 0 0, 0 500, from(#1c5091),to(#1874e6) );
}
.center .font{
    height: 15px;
    line-height: 15px;
    vertical-align: middle;
    margin-left: 5px;
    color:#496f9f;
    text-shadow: 2px 2px 1px #8097b5;
    font-size: 14px;
    font-weight: bolder;
}
.center .line{
    display: block;
    width: 500px;
    height: 1px;
    margin-top: 8px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 3px #4293fe;
    background: #1c5091;
    filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#1c5091,endcolorstr=#abd7fe, gradientType=1 );
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#1c5091,endcolorstr=#abd7fe, gradientType=1 );
    background: -o-linear-gradient(left, #1c5091 0%, #abd7fe 95%);
    background: -moz-linear-gradient(left, #1c5091, #abd7fe 95%);
    background: -webkit-gradient(linear, 0 0, 500 0, from(#1c5091),to(#abd7fe) );
}
.ui_container{
    width: 100%;
    height: 35px;
    margin: 10px 0;
}
.ui_container .ui_reset{
    display: inline-block;
    width: 500px;
    height: 30px;
    line-height: 30px;
    background: #c3dcf9;
    border: 1px solid #c3dcf9;
    border-radius: 4px;
    box-shadow: 0 1px 3px #85bcfe;
    text-shadow: 0 0 1px #85bcfe;
    text-indent: 5px;
    letter-spacing:1px;
    font-size: 13px;
    color: #083672;
    resize: none;
    vertical-align: middle;
    outline: none;
    transition: 0.4s ease-out;
}
.ui_container textarea{
    height: 60px!important;
    line-height: 20px!important;
}
.ui_container .normal{
    background: #c3dcf9;
    box-shadow: 0 1px 3px #85bcfe;
    border: 1px solid #c3dcf9;
    text-shadow: 0 0 1px #85bcfe;
    text-indent: 5px;
    width: 500px;
}
.ui_container .focus{
    background: #e7f0fb;
    box-shadow: 0 1px 3px #65a9fa;
    border: 1px solid #5a8dcd;
    text-shadow: 0 0 5px #6baaf6;
    text-indent: 8px;
    width: 200px;
}
.ui_container .correct{
    background: #e5f6e0;
    box-shadow: 0 1px 3px #cdebc6;
    border: 1px solid #ceecc4;
    text-shadow: 0 0 5px #c8e6c1;
    text-indent: 8px;
    width: 470px;
}
.ui_container .illegal{
    background: #f1b2b2;
    box-shadow: 0 1px 3px #e39191;
    border: 1px solid #eba2a2;
    text-shadow: 0 0 5px #efd9df;
    text-indent: 8px;
    width: 200px;
}
.ui_container .ui_reset:hover,
.ui_container .focus:hover{
    border: 1px solid #2c62a2;
    box-shadow: 0 1px 6px #3176c8;
}
.ui_container .correct:hover{
    border: 1px solid #77d879;
    box-shadow: 0 1px 6px #6dd870;
}
.ui_container .illegal:hover{
    border: 1px solid #d87777;
    box-shadow: 0 1px 6px #cb5d5d;
}
.ui_container .ui_info{
    vertical-align: middle;
    width: 400px;
    height: 30px;
    line-height: 30px;
    margin-left: 10px;
}
.ui_container .ui_info img{
    vertical-align: middle;
    width: 20px;
    height: auto;
    margin-top: -4px;
    margin-right: 5px;
}
.ui_container .ui_error{
     color:#f43d3d;
 }
.ui_container .ui_warning{
    color:#a86f25;
}
.ui_container .ui_correct{
    color:#5ff43d;
}

.author{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    margin: 40px auto;
    color: #1569ec;
    text-shadow: 1px 1px 0 #e7e7e7, 0 1px 7px #fff;
}